<div class="col-xl-3 col-md-6 d-flex">
  <div class="service-item position-relative">
    <div class="icon">{{ content.field_service_icon }}</div>
    <h4>{{ content.field_service_title }}</h4>
    <p>
      {{ content.field_service_body }}
    </p>
  </div>
</div>
