<section id="clients" class="clients section light-background">
  <div class="container">
    <div class="swiper init-swiper">
      <div class="swiper-wrapper align-items-center">
        {{ content.field_slider_img }}
      </div>
    </div>
  </div>
</section>
