<section id="about" class="aboutus section">
  <div class="container section-title">
    <h2>{{ content.field_aboutus_title }}</h2>
  </div>

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 content">
        <p>
          {{ content.field_aboutus_body1 }}
        </p>
        <ul>
          <li>
            <i class="bi bi-check2-circle"></i>
            <span
              >Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span
            >
          </li>
          <li>
            <i class="bi bi-check2-circle"></i>
            <span
              >Duis aute irure dolor in reprehenderit in voluptate velit.</span
            >
          </li>
          <li>
            <i class="bi bi-check2-circle"></i>
            <span>Ullamco laboris nisi ut aliquip ex ea commodo</span>
          </li>
        </ul>
      </div>

      <div class="col-lg-6">
        <p>
          {{ content.field_aboutus_body2 }}
        </p>
        <div class="read-more">{{ content.field_aboutus_btn }}</div>
      </div>
    </div>
  </div>
</section>
