<section id="why-us" class="section why-us light-background">
  <div class="container-fluid">
    <div class="row gy-4">
      <div
        class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1"
      >
        <div class="content px-xl-5">
          {{ content.field_features_subheading }}
          {{ content.field_features_body }}
        </div>

        <div class="faq-container px-xl-5">
          {{ content.field_features_accordion }}
        </div>
      </div>

      <div class="col-lg-5 order-1 order-lg-2 why-us-img">
        {{ content.field_features_img }}
      </div>
    </div>
  </div>
</section>
